<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BrowserInterstitialAdUnitId</key>
	<string>$(BROWSER_INTERSTITIAL_AD_UNIT_ID)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-7782777506427620~5964742075</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>PostHogProjectToken</key>
	<string>$(POSTHOG_PROJECT_TOKEN)</string>
	<key>PublicAPIKey</key>
	<string>$(PUBLIC_API_KEY)</string>
	<key>StartupAPIBaseURL</key>
	<string>$(STARTUP_API_BASE_URL)</string>
</dict>
</plist>
